/* Custom variables */
:root {
  /* Colors */
  --primary-color: #482ad8;
  --secondary-color: #4a4453;
  --tertiary-color: #afa8ba;
  --light-color: #fcf7ff;
  --dark-color: #1e1926;
  --white: #ffffff;

  /* fonts */
  --main-font: "Space Mono", monospace;
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

body.dark {
  --light-color: #1e1926;
  --dark-color: #fcf7ff;
}

/* Main start */
/* Header start */
.main {
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}

.main .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.header .title {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
}

.header .appearance {
  display: flex;
  align-items: center;
}

.appearance .icons {
  padding-inline: 5px;
  width: 50px;
  color: var(--dark-color);
  font-size: 20px;
}

.appearance .switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.appearance .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.appearance .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

body.dark .appearance .switch .slider {
  background-color: var(--primary-color);
}

.appearance .switch .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

body.dark .appearance .switch .slider::before {
  box-shadow: 0 0 1px var(--primary-color);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Header end */

/* Main section start */
.main-section .container {
  max-width: 75%;
  padding-top: 20px;
  margin: 0 auto;
}

.container .sub-containers {
  margin-bottom: 40px;
}

.container .lengthiness {
  display: flex;
  flex-direction: column;
}

.lengthiness label {
  color: var(--dark-color);
  font-size: 13px;
}

.lengthiness .select {
  max-width: 200px;
  height: 50px;
  padding-inline: 8px;
  font-size: 16px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
}

.container .types .type {
  margin-bottom: 5px;
  max-width: fit-content;
}

.input-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2.5px;
  left: 1px;
  height: 25px;
  width: 25px;
  background-color: var(--tertiary-color);
}

.input-container:hover input ~ .checkmark {
  background-color: var(--secondary-color);
}

.input-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container input:checked ~ .checkmark:after {
  display: block;
}

.input-container .checkmark:after {
  left: 11px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-container .left-text {
  font-size: 23px;
}

.input-container ion-icon {
  margin-left: 10px;
}

.input-container .right-text {
  margin-left: 10px;
  font-size: 24px;
}

.container .password .password-container {
  display: flex;
  flex-direction: column;
}

.password .password-container .passwords {
  max-width: 400px;
  height: 50px;
  background-color: transparent;
  color: var(--dark-color);
  font-size: 18px;
  padding-left: 10px;
  border: 2px solid var(--tertiary-color);
}

.password .password-container span {
  font-size: 14px;
  margin-top: 5px;
  color: var(--dark-color);
}

.buttons .btn-container button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  color: var(--white);
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
}

.btn-container .btn {
  display: flex;
  justify-content: center;
  align-self: center;
}

.btn:active {
  transform: scale(0.9);
}

/* Media Queries */
@media (max-width: 1303px) {
  .input-container .left-text,
  .input-container .right-text {
    font-size: 18px;
  }

  .checkmark {
    height: 23px;
    width: 23px;
  }

  .input-container input:checked ~ .checkmark:after {
    top: 5px;
    left: 9px;
  }
}

@media (max-width: 1035px) {
  .input-container .right-text,
  .input-container ion-icon {
    display: none;
  }
}

@media (max-width: 840px) {
  .main-section .container {
    max-width: 85%;
  }


  .buttons .btn-container button {
    padding: 12px 35px;

  }

}

@media (max-width: 640px) {
  .header .title {
    font-size: 32px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons .btn-container button {
    padding: 10px 28px;
  }

  .generate {
    margin-bottom: 15px;
  }
}

@media (max-width: 525px) {
  .header .title {
    font-size: 28px;
  }

  .input-container .left-text {
    font-size: 15px;
  }

  .checkmark {
    height: 20px;
    width: 20px;
  }

  .input-container input:checked ~ .checkmark:after {
    top: 3px;
    left: 7px;
  }
}

@media (max-width: 440px) {
  .header .title {
    font-size: 22px;
  }

  .input-container .left-text {
    font-size: 12px;
  }

  .checkmark {
    height: 15px;
    width: 15px;
  }

  .input-container input:checked ~ .checkmark:after {
    top: 2px;
    left: 5px;
  }
}

@media (max-width: 390px) {
  .main {
    min-width: 375px;
  }

}
/* Main section end */
/* Main end */
